@use "src/styles/colors.scss" as colors;

.card {
  position: relative;
  background: colors.$white;
  width: 175px;
  height: 250px;
  border: 3px solid;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;

  margin: 2px;

  border-color: colors.$blue;
  color: colors.$blue;
  path {
    fill: colors.$blue;
  }

  .title {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.65em;
    color: black;
  }
  .image {
    position: relative;
    grid-area: 2 / 1 / 3 / 2;
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: calc(100% + 1rem);
      object-fit: cover;
      position: absolute;
      top: -1rem;
      padding: 0;
      margin: 0;
    }
    .default{
      object-fit: contain;
      top: 0;
      min-height:100%;
      height: 100%;
    }
  }
  .footer {
    width: 100%;
    height: 100%;
    display: grid;
    font-size: 0.7em;
    color: black;
    grid-template-rows: 1fr 1fr;
    text-align: center;

    > * {
      margin: 0;
    }

    p {
      display: block;
      max-width: calc(100% - 1rem);
      margin: 0 0.5rem;
      padding-top: 0.125rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .links {
      display: flex;
      align-items: center;
      margin-bottom: 0.25rem;
      justify-content: center;
      gap: 0.75rem;
    }
  }

  &.ai {
    border-color: colors.$red;
    color: colors.$red;
    path {
      fill: colors.$red;
    }
  }
  &.cyber {
    border-color: colors.$turquoise;
    color: colors.$turquoise;
    path {
      fill: colors.$turquoise;
    }
  }
}
