@import "../../styles/colors.less";

.sponsorship {
  &__logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &__header {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 80px;
    }
    &__img-grid {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: row;
      > img {
        padding: 10px;
      }
    }
  }
  &__info {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 110px;
    height: 90vh;
    min-height: 500px;
    display: flex;
    align-items: flex-start;
    &__text {
      padding-left: 56px;
      &__title {
        font-size: 45px;
        font-weight: 500;
        margin-bottom: 30px;
      }

      &__description {
        font-size: 35px;
        font-weight: 500;
        margin-top: 0px;
      }
    }
  }
}
.blue {
  color: @blue;
  font-weight: bold;
}

.pink {
  color: @pink;
  font-weight: bold;
}

.purple {
  color: @purple;
  font-weight: bold;
}
