@use "src/styles/colors.scss" as colors;

.community {
  &__hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 140px;
    height: 650px;
    > h1 {
      font-size: 45px;
      margin-bottom: 30px;
      text-align: center;
    }
    > p {
      font-size: 20px;
      font-weight: 500;
      width: 650px;
      margin-bottom: 40px;
      text-align: center;
    }

    &__toggle {
      display: flex;
      flex-direction: row;
      text-align: center;
      gap: 8rem;

      a {
        position: relative;
        color: rgba(0, 0, 0, 0.8);
        text-decoration: none;
      }
    
      a.active {
        position: relative;
        display: inline-block;
        padding-bottom: 12px;
      }
    
      a.active::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        //background: conic-gradient(from 90deg at 50% 50%, #FF6D6D 0deg, #FDA44E 60deg, #FFDC24 120deg, #38CF6B 180deg, #62B0FF 240deg, #816DFF 300deg, #FF6D6D 360deg);
        background: linear-gradient(to right, #FF6D6D, #FDA44E, #FFDC24, #38CF6B, #62B0FF, #816DFF, #FF6D6D);
        background-size: 150% 150%;
      }
    }

    &__communities {
      text-align: left;
    }
    @media only screen and (max-width: 812px) {
      padding-top: 20px;
      height: 0;
      margin-top: 50px;
      > h1 {
        text-align: left;
      }
      > p {
        display: none;
      }
    }
  }
  &__sub-orgs {
    &--mobile {
      h1 {
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
      }
      &__description > p {
        padding: 0 2rem;
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
      }
      &__navigation {
        display: flex;
        justify-content: center;
        padding: 1em;
        > button {
          width: 90px;
          background: none;
          outline: none;
          border: none;
          img {
            width: 90px;
            margin: 0;
          }
          &:hover {
            cursor: pointer;
            img {
              transform: scale(1.1);
              transition: transform 0.2s;
            }
          }
        }
      }
    }
    .selected {
      border: solid 5px colors.$black;
    }
    &__community-card {
      display: inline-flex;
      height: calc(100vh - 78px);
      width: 100vw;
      min-height: 564px;
      height: fit-content;
      margin-left: 0px !important;
      padding-right: 96px;
      margin-bottom: 10px;
      padding-top: -80px;
      gap: 2.5rem;

      // To help move the color side bar all the way to the left
      // 960px is the max width of the div above the <main> tag
      @media (min-width: 960px) {
        margin-left: calc(-1 * ((100vw - 960px) / 2)) !important;
      }

      .color_slide {
        position: relative;
        top: 0;
        left: 0;
        min-width: 70px;
        z-index: -1;
      }
      &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          height: 60px;
          margin-right: 10px;
        }

        h1 {
          flex-basis: 100%;
        }
      }
      &__logo {
        min-width: 226px;
        max-width: 226px;
        margin: 66px;
      }
      &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 3.5rem;
        align-items: center;
        height: fit-content;
        > a {
          display: flex;
          justify-content: center;
          &:hover img {
            transition: transform 0.2s;
            transform: scale(1.05);
          }
        }
        &__desc-holder {
          flex-basis: 570px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: fit-content;
          flex-grow: 1;
          > h1 {
            font-weight: 500;
            font-size: 45px;
          }
          > p {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .community-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            padding-top: 4px;
            width: 100%;

            a {
              border: none;
              background-color: transparent;
              outline: none;
              padding-right: 30px;
              img {
                width: 40px;
                &:hover {
                  transform: scale(1.05);
                }
              }
            }
          }
        }
      }
    }
    
    &__logo-card {
      display: flex; 
      height: fit-content; 
      margin-bottom: 10px;

      align-items: center;

      max-width: 20%;

      &[data-open=true] {
        flex-grow: 1;
        max-width: 40%;
      }
      
      &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
          height: 60px;
          margin-right: 10px;
        }

        h1 {
          flex-basis: 100%;
        }
      }

      > button {
        background: none;
        outline: none;
        border: none;
        padding: 0;
      }
      &__logo {
        min-width: 120px;
        max-width: 194px;
        width: 194px;
        margin: 36px 0;
        margin-right: 46px;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 50%;
        height: fit-content;
        overflow-wrap: break-word;
        > a {
          display: flex;
          justify-content: center;
          &:hover img {
            transition: transform 0.2s;
            transform: scale(1.05);
          }
        }
        > div {
          max-width: 570px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          height: fit-content;
          > h1 {
            font-weight: 500;
            font-size: 45px;
          }
          > p {
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 30px;
          }
          .community-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            padding-top: 4px;
            width: 100%;

            a {
              border: none;
              background-color: transparent;
              outline: none;
              padding-right: 30px;
              img {
                width: 40px;
                &:hover {
                  transform: scale(1.05);
                }
              }
            }
          }
        }
      }
    }

    @media only screen and (max-width: 812px) {
      p {
        padding: 3em !important;
      }
      &__community-card {
        padding: 0 3em !important;
        .color_slide {
          display: none;
        }
        &__header {
          justify-content: left;
          h1 {
            font-size: 28px;
          }
        }
        &__content {
          div {
            p {
              font-size: 16px;
            }
            .community-links a {
              padding-right: 20px;
            }
          }
        }
      }
    }
  }

  &__navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
    // To help move the navigator all the way to the left, outside of normal max-width of parent
    // 960px is the max width of the div above the <main> tag
    @media (min-width: 960px) {
      margin-left: calc(-1 * ((80vw - 960px) / 2));
    }
    
    align-items: center;
    width: 80vw;
  }

  &__image-grid {
    display: grid;
    height: 350px;
    width: 570px;
    gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    overflow: hidden;
    flex-grow: 2;

    img {
      object-fit: cover;
      overflow: hidden;
      border-radius: 20px;
      width: 100%;
      height: 100%;
    }

    .pic1 {
      grid-column: 1 / 4;
      grid-row: 1;
    }

    .pic2 {
      grid-column: 4 / -1;
      grid-row: 1;
    }

    .pic3 {
      grid-column: 1 / 3;
      grid-row: 2;
    }
    
    .pic4 {
      grid-column: 3 / -1;
      grid-row: 2;
    }
  }
}

.fullName {
  color: rgba(0, 0, 0, 0.70);
  font-family: "DM Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.red {
  color: colors.$red;
}
.redbg {
  background-color: colors.$light-red;
}
.redfill {
  fill: colors.$red !important;
}
.orange {
  color: colors.$orange;
}
.orangebg {
  background-color: colors.$light-orange;
}
.orangefill {
  fill: colors.$orange !important;
}
.turquoise {
  color: colors.$turquoise;
}
.turquoisebg {
  background-color: colors.$light-turquoise;
}
.yellow {
  color: colors.$orange;
}
.yellowbg {
  background-color: colors.$light-orange;
}
.purple {
  color: colors.$purple;
}
.purplebg {
  background-color: colors.$light-purple;
}
.pink {
  color: colors.$pink;
}
.pinkbg {
  background-color: colors.$light-pink;
}
.spacer80px {
  height: 80px;
}


// Rainbow glow behind initiative sections

/*
.glow-on-hover {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
}

.glow-on-hover:before {
  content: 'BEFORE';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: 1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover[data-glow=true]:after {
  background: transparent;
}

.glow-on-hover[data-glow=true]:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: 'AFTER';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1e3a8a;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}*/

.glow-on-hover {
  --s: 10px; /* the spread  */
  position: relative;
}
.glow-on-hover::before {
  inset: calc(-1 * var(--s));
  clip-path: polygon(
    -100vmax -100vmax,
     100vmax -100vmax,
     100vmax 100vmax,
    -100vmax 100vmax,
    -100vmax -100vmax,
    calc(0px  + var(--s)) calc(0px  + var(--s)),
    calc(0px  + var(--s)) calc(100% - var(--s)),
    calc(100% - var(--s)) calc(100% - var(--s)),
    calc(100% - var(--s)) calc(0px  + var(--s)),
    calc(0px  + var(--s)) calc(0px  + var(--s))
  );
}