@use "src/styles/colors.scss" as colors;

.title {
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  margin-top: 4rem;
}

.sectionNav {
  position: sticky;
  top: 5.275rem;
  height: 4rem;
  margin-bottom: 4rem;
  z-index: 3;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, white 75%, transparent 100%);

  a {
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 1.2rem;
  }
}

.sectionHeading {
  font-size: 2.5rem;
  text-align: center;
  font-weight: 500;
  position: relative;
  z-index: 2;
  margin: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
}

.subOrgNav {
  position: sticky;
  top: 5.275rem;
  margin-top: -4rem;
  padding-top: 4rem;
  background-image: linear-gradient(to bottom, white 75%, transparent 100%);
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 1rem;

  .logoCard {
    display: block;
    width: 4rem;
    height: 4rem;
    position: relative;

    .logo,
    .logoHover {
      width: 100%;
      height: 100%;
    }
    .logoHover {
      content: "";
      position: absolute;
      inset: 0;
      opacity: 0;
      filter: blur(0.5rem);
      transition: opacity 0.2s;
      z-index: -1;
    }
    &:hover .logoHover {
      opacity: 1;
    }
  }
}

.fullName {
  color: rgba(0, 0, 0, 0.7);
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
}
.red {
  --main-color: #{colors.$red};
}
.orange {
  --main-color: #{colors.$orange};
}
.turquoise {
  --main-color: #{colors.$turquoise};
}
.yellow {
  --main-color: #{colors.$orange};
}
.purple {
  --main-color: #{colors.$purple};
}
.pink {
  --main-color: #{colors.$pink};
}
.outreachGreen {
  --main-color: #{colors.$outreach-green};
}
.blue {
  --main-color: #{colors.$blue};
}
.grey {
  --main-color: #{colors.$dark-grey};
}
.spaceBlue {
  --main-color: #053561;
}

.spacer80px {
  height: 80px;
}

// Rainbow glow behind initiative sections NOT WORKING

/*
.glow-on-hover {
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
}

.glow-on-hover:before {
  content: 'BEFORE';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: 1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 1;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover[data-glow=true]:after {
  background: transparent;
}

.glow-on-hover[data-glow=true]:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: 'AFTER';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1e3a8a;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}*/

.glowOnHover {
  --s: 10px; /* the spread  */
  position: relative;
}
.glowOnHover::before {
  inset: calc(-1 * var(--s));
  clip-path: polygon(
    -100vmax -100vmax,
    100vmax -100vmax,
    100vmax 100vmax,
    -100vmax 100vmax,
    -100vmax -100vmax,
    calc(0px + var(--s)) calc(0px + var(--s)),
    calc(0px + var(--s)) calc(100% - var(--s)),
    calc(100% - var(--s)) calc(100% - var(--s)),
    calc(100% - var(--s)) calc(0px + var(--s)),
    calc(0px + var(--s)) calc(0px + var(--s))
  );
}
