.button {
  border: 1px solid black;
  background-color: black;
  padding: 0.25em 1em;
  text-align: center;
  display: inline-block;
  margin: 5px;
  border-radius: 10px;
}

.button > a {
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
  color: white;
}