@use "src/styles/colors.scss" as colors;

.button {
  border-radius: 10px;
  color: colors.$white;
  display: inline-block;
  font-size: 1.5rem;
  margin: 5px 0px;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  width: 12.5rem;

  &:hover {
    opacity: 0.85;
    transform: translatey(-1px);
    transition: 0.2s;
  }

  &.primary {
    background-color: colors.$pink;
  }

  &.secondary {
    background-color: colors.$blue;
  }
}
