.communities-header {
  align-items: center;
  margin-bottom: 20px;
  margin-left: 3em;
  h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  p {
    font-size: 1.5em;
    font-weight: lighter;
    max-width: 20em;
  }
}

.communities-container {
  text-align: center;
  width: 100vw;

  a {
    color: #000000;
  }

  .community {
    display: inline-block;
    height: 5em;
    margin: 20px;
    text-align: left;
    transition: .2s;

    &:hover {
      transform: scale(1.05);
    }

    img {
      height: 100%;
      margin-right: 10px;
    }
  
    .info {
      display: inline-block;
      text-align: left;
      height: 100%;
      vertical-align: top;

      h1 {
        font-size: 2.5em;
        font-weight: bolder;
        margin-bottom: 5px;
        &.ai {
          color: #FF6D6D;
        }
        &.cyber  {
          color: #51C0C0;
        }
        &.design  {
          color: #E981A0;
        }
        &.hack  {
          color: #F9A857;
        }
        &.innovate  {
          color: #816DFF;
        }
      }
    }
  }
}