@import '../../styles/colors.less';
@import '../../styles/mixins.less';

.communities {
  .section();
  padding: 80px 0;

  .communities-container {
    margin: auto;
    max-width: 1200px;
    width: 100%;
    text-align: center;

    a {
      color: @black;
      text-decoration: none;
    }

    .community {
      display: inline-block;
      margin: 10px;
      height: 100px;
      position: relative;
      text-align: left;
      transition: 0.2s;
      width: 350px;

      &:hover {
        transform: scale(1.05);
      }

      img {
        height: 100%;
      }

      .info {
        position: absolute;
        left: 120px;
        top: 0;
        align-items: center;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        width: 230px;
        vertical-align: top;

        h1 {
          width: 100%;
          font-size: 2em;
          font-weight: bolder;
          margin-bottom: 5px;
          &.ai {
            color: @red;
          }
          &.cyber {
            color: @turquoise;
          }
          &.design {
            color: @pink;
          }
          &.hack {
            color: @orange;
          }
          &.innovate {
            color: @purple;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .communities {
    .communities-container {
      .community {
        width: 280px;
        height: 80px;

        .info {
          left: 90px;
          width: 190px;

          h1 {
            font-size: 1.6em;
          }

          h2 {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
