.BoardGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  &_arrowContainer {
    min-width: 40px;
    max-width: 40px;
    transform: scale(1);
    transition: transform 0.1s;
    :hover {
      transition: transform 0.1s;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  &_arrowContainer:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-top: 80px;
  }
  &_grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
  }
}
