@use "src/styles/colors" as colors;

$mobile: 960px;

.eventsContainer {
  margin: 0 3rem;
  width: auto;
  min-height: 50vh;
  .header {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .headerText {
      width: fit-content;
      margin: 0;
      padding: 0;
    }
  }

  .filterContainer {
    display: flex;
    flex-direction: row;
    gap: 0 10px;

    @media only screen and (max-width: $mobile) {
      display: none;
    }

    .filterButton {
      width: 120px;
      height: 2rem;
      padding: 0;
      background: colors.$white;
      border: 1px solid black;
      box-sizing: border-box;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 100%;

      &.general {
        border-color: colors.$blue;
        color: colors.$blue;

        &.active {
          background-color: colors.$blue;
          color: colors.$white;
        }
      }

      &.cyber {
        border-color: colors.$turquoise;
        color: colors.$turquoise;

        &.active {
          background-color: colors.$turquoise;
          color: colors.$white;
        }
      }

      &.ai {
        border-color: colors.$red;
        color: colors.$red;

        &.active {
          background-color: colors.$red;
          color: colors.$white;
        }
      }

      &.hack {
        border-color: colors.$orange;
        color: colors.$orange;

        &.active {
          background-color: colors.$orange;
          color: colors.$white;
        }
      }

      &.design {
        border-color: colors.$pink;
        color: colors.$pink;

        &.active {
          background-color: colors.$pink;
          color: colors.$white;
        }
      }
    }
  }

  .mobileFilters {
    display: none;

    @media only screen and (max-width: $mobile) {
      display: block;
    }
  }

  .noEvents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    color: #cacaca;
  }

  .cardContainer {
    width: 100%;
    display: grid;
    gap: 2rem 2rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    justify-items: center;
    align-items: center;
    margin-top: 2rem;
  }
}