@red: #ff6f6f;
@orange: #f9a857;
@yellow: #efc456;
@green: #80ce1c;
@blue: #62b0ff;
@turquoise: #51c0c0;
@purple: #816dff;
@pink: #e981a0;

@white: #ffffff;
@grey: #f8f8f8;
@black: #333333;
@dark-grey: #8d8d8d;
@hover-blue: #7cbdff;

@light-red: #ffd8d8;
@light-orange: #ffedda;
@light-blue: #efffff;
@light-turquoise: #deffff;
@light-purple: rgba(129, 109, 255, 0.2);
@light-orange: rgba(249, 168, 87, 0.2);
@link-blue: #0659bc;
@light-pink: rgba(233, 129, 160, 0.2);
