.arrow {
  cursor: pointer;
  left: calc(50vw - 15px);
  bottom: 50px;
  height: 30px;
  margin: auto;
  position: absolute;
  width: 30px;
  @media only screen and (max-width: 1050px) {
    display: none;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.hide {
  animation: hide 0.5s linear 0s 1 normal forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.show {
  animation: show 0.5s linear 0s 1 normal forwards;
}
