@import "../../styles/colors.less";

.home-grid {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-top: 3.5em;
  
  .home-description {
    font-weight: bolder; 
    font-size: 3.5em;
    width: 100%;

    .description-block {
      margin: 1em 0em 1em 3em;
      .Typist {
        width: fit-content;
        min-height: 6em;
      }
    }
  }

  .cool-img {
    font-size: 3.5em;
    margin-right: 3em;
    img{
      max-width: 500px;
    }
  }

  .code-span {
    color: @blue;
  }

  .design-span {
    color: @pink;
  }

  .innovate-span {
    color: @purple;
  }

  .buttons {
    width: fit-content;
    margin: 25px 0px;
  }

  .buttons > a {
    margin-right: 1em;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1400px) {
  // for long screens
  .home-grid .home-description .description-block .Typist {
    min-height: 3em;
  }
}

@media only screen and (max-width: 1050px) {
  // for tablets and mobile
  .home-grid {
    flex-direction: column;
    padding-top: 4em;

    .cool-img {
      margin: 0px;
      img {
        max-width: 60vw;
      }
    }
  
    .home-description {
      width: 100vw;
      font-size: 2em;
      .description-block {
        margin: 0.5em 20vw;
        .Typist {
          min-width: 40vw;
          margin: auto;
          min-height: 3em;
        }
      }
    }

    .buttons {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 1em;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-grid {
    .cool-img {
      margin-top: 2em;
      img {
        max-width: none;
        width: 80vw;
      }
    }

    .home-description {
      .description-block {
        margin: 0.5em 10vw;
        .Typist {
          min-width: 80vw;
          min-height: 3em;
        }
      }
    }
  }
}