@import "../../styles/colors.less";

.home-grid {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-top: 3.5em;

  .arrow {
    bottom: 50px;
    height: 30px;
    margin: auto;
    position: absolute;
    width: 30px;
    -webkit-animation: ca3_fade_move_down 1.5s ease-in-out infinite;
    -moz-animation:    ca3_fade_move_down 1.5s ease-in-out infinite;
    animation:         ca3_fade_move_down 1.5s ease-in-out infinite;
  }
  
  .home-description {
    font-weight: bolder; 
    font-size: 3.5em;
    margin-left: 10vw;
    width: 90%;

    .description-block {
      .Typist {
        margin: auto;
        min-height: 6em;
        width: fit-content;
      }
    }
  }

  .cool-img {
    font-size: 3.5em;
    margin-right: 3em;
    img{
      max-width: 500px;
    }
  }

  .code-span {
    color: @blue;
  }

  .design-span {
    color: @pink;
  }

  .innovate-span {
    color: @purple;
  }

  .buttons {
    width: fit-content;
    margin: 25px 0px;
  }

  .buttons > a {
    margin-right: 1em;
    text-decoration: none;
  }
}

@media only screen and (min-width: 1400px) {
  // for long screens
  .home-grid .home-description .description-block .Typist {
    min-height: 3em;
  }
}

@media only screen and (max-width: 1050px) {
  // for tablets and mobile
  .home-grid {
    flex-direction: column;
    padding-top: 4em;

    .arrow {
      bottom: 0;
      margin: 0;
      position: relative;
    }

    .cool-img {
      margin: 0px;
      img {
        max-width: 50vw;
      }
    }
  
    .home-description {
      width: 100vw;
      font-size: 2em;
      margin-left: 0;

      .description-block {
        margin: 0.5em 20vw;
        .Typist {
          margin: auto;
          min-height: 3em;
          width: fit-content;
        }
      }
    }

    .buttons {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-top: 1em;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 500px) {
  .home-grid {
    .cool-img {
      img {
        max-width: none;
        width: 70vw;
      }
    }

    .home-description {
      .description-block {
        margin: 0.5em 10vw;
        .Typist {
          min-height: 3em;
        }
      }
    }
  }
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-10px); opacity: 0;  }
  35%  { opacity: 1;  }
  70% { -webkit-transform:translate(0,10px); opacity: 0; }
  100% { -webkit-transform:translate(0,10px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-10px); opacity: 0;  }
  35%  { opacity: 1;  }
  70% { -moz-transform:translate(0,10px); opacity: 0; }
  100% { -webkit-transform:translate(0,10px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-10px); opacity: 0;  }
  35%  { opacity: 1;  }
  70% { transform:translate(0,10px); opacity: 0; }
  100% { -webkit-transform:translate(0,10px); opacity: 0; }
}