@use "src/styles/colors.scss" as colors;

.communityGridWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.communitiesGrid {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 580px;

  &__community {
    padding: 20px 0px;
    text-decoration: none;
    color: colors.$black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: scale(1);
    transition: transform ease-in-out 0.1s;

    &:hover {
      transform: scale(1.05);
      transition: transform ease-in-out 0.1s;
    }

    &__label {
      margin-left: 10px;
      width: 210px;

      h3 {
        margin: 0 !important;
        font-size: 1.7rem;
        font-weight: 500;

        span {
          font-weight: 700;
        }
      }

      p {
        margin: 0;
        color: colors.$black;
        font-size: 1rem !important;
        font-weight: 400 !important;
      }
    }

    img {
      width: 60px;
      margin: 0;
      margin-right: 10px;
    }

    &.ai--visible {
      color: colors.$red;
    }

    &.cyber--visible {
      color: colors.$turquoise;
    }

    &.hack--visible {
      color: colors.$orange;
    }

    &.design--visible {
      color: colors.$pink;
    }

    @keyframes hide {
      from {
        opacity: 0;
      }

      to {
        opacity: 0;
      }
    }

    @keyframes fade-up {
      from {
        opacity: 0%;
        transform: translateY(5vh);
      }

      to {
        opacity: 100%;
        transform: translateY(0);
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .communitiesGrid__community {
      padding: 20px 10px;

      &__label {
        h3 {
          margin: 0 !important;
          font-size: 1.6rem;
        }
      }

      img {
        width: 70px;
        margin: 0;
        margin-right: 10px;
      }
    }
  }
}

.vertical {
  margin: 20px 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;

  .communitiesGrid__community {
    padding: 15px 0;

    img {
      width: 80px;
    }
  }
}

.colWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .communitiesGrid {
    display: inline-block;
  }

  @media only screen and (max-width: 932px) {
    flex-direction: column;
    align-items: center;
  }
}