.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 1;
}
.modal-main {
  padding: 1rem;
  position: fixed;
  background: white;
  min-width: 14rem;
  max-width: 32rem;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.modal-main button {
  background-color: white;
  color: black;
}
.options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  .apple {
    background-color: #ffd8d8;
  }
  .google {
    background-color: #d4eafb;
  }
}
.calendarButton {
  padding: 1rem;
  border-radius: 10px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  img {
    height: 3rem;
    width: 3rem;
    margin:0;
  }
  b{
    color: black;
  }
}