@use "src/styles/colors" as colors;

.container {
  margin: 40px;

  .eventHeader {
    line-height: 2rem;
    height: 2rem;
    margin-bottom: 40px;

    &>* {
      display: inline-block;
      margin: 0;
      height: 100%;
      font-family: "DM Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
    }

    .backButton {
      float: left;
      text-decoration: none;
      color: black;
    }

    .eventType {
      float: right;
      line-height: 32px;

      &.general {
        color: colors.$blue;
      }

      &.ai {
        color: colors.$red;
      }

      &.cyber {
        color: colors.$turquoise;
      }

      &.hack {
        color: colors.$orange;
      }
    }
  }

  .eventBody {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .eventCover {
      width: 100%;
      height: auto;
      margin: 0;
      object-fit: cover;
      object-position: top left;
      overflow: hidden;
      border-radius: 10px;

    }

    .eventInfo {
      width: 100%;
      display: grid;
      gap: 2rem;

      .titleLocationGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 0.25rem;
        column-gap: 1rem;
        align-items: center;

        @media screen and (max-width: 960px) {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        .date {
          grid-column: 1;
          grid-row: 1;

          @media screen and (max-width: 960px) {
            grid-column: 1;
            grid-row: 1;
            text-align: start;
          }

          display: flex;
          align-items: center;

          .eventDate {
            display: inline;
            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 25px;
            margin: 0;
            color: #333333;
          }

          .eventDay {
            display: inline;

            font-family: "DM Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            margin: 0 0 0 8px;
            text-transform: uppercase;
            color: colors.$black;
          }
        }

        .location {
          grid-column: 2;
          grid-row: 1;

          @media screen and (max-width: 960px) {
            grid-column: 1;
            grid-row: 3;
            text-align: start;
          }

          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          text-align: end;
          margin: 0;

          color: #333333;
        }

        .title {
          grid-column: 1;
          grid-row: 2;
          text-align: start;

          @media screen and (max-width: 960px) {
            grid-column: 1;
            grid-row: 2;
            text-align: start;
          }

          font-family: "DM Sans";
          font-style: normal;
          font-weight: 700;
          margin: 0;

          font-size: 24px;

          &.general {
            color: colors.$blue;
          }

          &.ai {
            color: colors.$red;
          }

          &.cyber {
            color: colors.$turquoise;
          }

          &.hack {
            color: colors.$orange;
          }
        }

        .time {
          grid-column: 2;
          grid-row: 2;
          text-align: end;

          @media screen and (max-width: 960px) {
            grid-column: 1;
            grid-row: 4;
            text-align: start;
          }

          font-family: "DM Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          margin: 0;
          text-align: right;

          color: #333333;
        }
      }

      @media screen and (max-width: 960px) {
        gap: 4px;
      }

      .eventLinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 10px;

        .eventLink {
          display: flex;
          align-items: center;
          cursor: pointer;
          color: colors.$black;
          text-decoration: none;
          gap: 10px;
          padding: 8px 4px;
          border-radius: 8px;
          transition: 300ms all linear;
          img {
            margin: 0;
          }

          &.google:hover {
            background-color: hsl(206, 83%, 92%);
          }
          &.apple:hover {
            background-color: hsl(0, 100%, 92%);            
          }
        }

        @media screen and (max-width: 960px) {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin: 1rem 0;
        }
      }

      .eventDescription {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        white-space: pre-wrap;

        color: #333333;
      }
    }
  }
}