.number {
  display: inline-block;
  border-left: 8px solid;
  padding: 10px 20px;
  width: 200px;

  .count {
    display: block;
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: .1em;
  }

  .description {
    display: block;
    font-size: 1.5em;
  }
  
  .blue {color: blue}
  .blue {color: blue}
  .blue {color: blue}
}