@use "src/styles/colors" as colors;

.card {
  width: 100%;
  height: 177px;
  background: colors.$white;
  box-shadow: 0px 1px 6px colors.$black;
  border-radius: 20px;
  position: relative;
  padding: 0.75rem;
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr 30px;

  .cardHeader {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: baseline;

    .cardDate {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 100%;
      color: colors.$black;
      margin: 0;
      display: inline;
    }

    .cardDay {
      display: inline;
      margin: 0 0 0 10px;
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 100%;
      color: colors.$black;
      text-transform: uppercase;
    }
  }

  .cardBody {
    display: flex;
    flex-flow: column;
    justify-content: center;

    .eventTitle {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 110%;
      white-space: pre-wrap;
      /*keep text on one line */
      overflow: hidden;
      /*prevent text from being shown outside the border */
      text-overflow: ellipsis;
      /*cut off text with an ellipsis*/
      max-height: 40px;
      margin: 0;

      &.general {
        color: colors.$blue;
      }

      &.cyber {
        color: colors.$turquoise;
      }

      &.ai {
        color: colors.$red;
      }
    }

    .eventLocation,
    .eventTime {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 17px;

      color: colors.$black;
      margin: 0;
    }
  }

  .cardFooter {
    gap: 15px;
    display: flex;
    flex-direction: row;
  }
}