@use "src/styles/colors.scss" as colors;

.footer {
  width: 100%;
  height: 100%;
  background-color: colors.$black;
  color: colors.$white;
  z-index: 0;
  position: relative;
}
.footerContainer {
  padding-bottom: 80px;
  display: flex;
  justify-content: center;
}
.footerContents {
  h2 {
    font-size: 42px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    padding-top: 56px;
  }
  &__wrapper {
    display: flex;
    align-items: flex-start;
    @media only screen and (max-width: 985px) {
      flex-wrap: wrap;
      padding: 0 40px;
    }
  }
  &__contact {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &__card {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      height: 75px;
      margin: 10px 5px;
      a:hover img {
        transform: scale(1.05);
        transition: transform 0.2s;
      }
      img {
        float: left;
        width: 45px;
        margin: 10px;
      }
      div {
        margin: 10px;
        width: 140px;
        h3 {
          font-size: 20px;
          font-weight: 500;
          margin: 0px;
        }
        a {
          font-size: 20px;
          font-weight: 500;
          margin: 0px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  &__newsletter {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
    h2 {
      font-size: 20px;
      font-weight: 700;
      width: 100%;
      text-align: left;
      padding-top: 20px;
      margin: 0px;
    }
    p {
      width: 100%;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 20px;
    }
    input {
      color: rgba(0, 0, 0, 0.5);
      padding: 2px 2px 2px 1em;
      width: 272px;
      margin-bottom: 24px;
      border-radius: 8px;
      border-color: colors.$black;
      border-style: none;
      font-weight: bold;
      font-size: 16px;
      outline: none;
    }
    .subscribe-btn {
      text-decoration: none;
      padding: 5px 30px;
      cursor: pointer;
      color: colors.$white;
      background-color: colors.$dark-grey;
      height: 2em;
      width: fit-content;
      height: 35px;
      border-radius: 8px;
      border-color: colors.$black;
      border-style: none;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 36px;
      outline: none;
      &:hover {
        cursor: pointer;
        color: colors.$black;
        background-color: colors.$hover-blue;
        transition-duration: 0.2s;
      }
    }
    .vercel-btn {
      text-decoration: none;
      cursor: pointer;
      color: colors.$white;
      background-color: none;
      height: 2em;
      width: 165px;
      height: 35px;
      border-radius: 8px;
      border-color: colors.$black;
      border-style: none;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 36px;
      outline: none;
    }
  }
}
.acmBlueFade {
  display: none;
  margin: 0 !important;
  position: absolute;
  bottom: 10px;
  right: 0px;
  z-index: 0;
}
.mobileFooterContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -7px !important;
  h2 {
    padding-top: 56px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
  }
  a {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 35px;
    color: colors.$white;
    text-decoration: underline;
  }
  &__newsletter {
    width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0px !important;
    h2 {
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      padding-top: 6px;
      margin: 0px;
    }
    p {
      font-size: 16px;
      margin-bottom: 11px;
      text-align: left;
    }
    input {
      color: rgba(0, 0, 0, 0.5);
      padding: 2px 2px 2px 1em;
      width: 100%;
      margin-top: 11px !important;
      margin-bottom: 23px !important;
      border-radius: 8px;
      border-color: colors.$black;
      border-style: none;
      font-weight: bold;
      font-size: 16px;
      outline: none;
    }
    .mobile-subscribe-btn {
      text-decoration: none;
      padding: 4px 0;
      color: colors.$white;
      background-color: colors.$blue;
      height: 2em;
      width: 165px;
      height: 35px;
      border-radius: 8px;
      border-color: colors.$black;
      border-style: none;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 36px;
      outline: none;
    }
    .mobile-vercel-btn {
      text-decoration: none;
      padding: 4px 0;
      color: colors.$white;
      background-color: none;
      height: 2em;
      width: 165px;
      height: 35px;
      border-radius: 8px;
      border-color: colors.$black;
      border-style: none;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 36px;
      outline: none;
    }
    .mobile-vercel-btn {
      text-decoration: none;
      padding: 4px 0;
      color: colors.$white;
      background-color: none;
      height: 2em;
      width: 165px;
      height: 35px;
      border-radius: 8px;
      border-color: colors.$black;
      border-style: none;
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 36px;
      outline: none;
    }
  }
}
.community-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-direction: row;
  padding-top: 4px;
  width: 272px;
  a {
    height: 50px;
    margin-bottom: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0px;
    img {
      width: 70%;
      height: unset;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
  img {
    width: 45px;
    height: 45px;
  }
}
@media only screen and (min-width: 984px) {
  .acmBlueFade {
    display: block;
  }
  .mobileFooterContainer {
    display: none;
  }
}
@media only screen and (max-width: 986px) {
  .footerContainer {
    display: none;
  }
  .acmBlueFade {
    display: none;
  }
  .mobileFooterContainer {
    display: flex;
  }
}