.navbar {
  list-style-type: none;
}

.navbar > li {
  padding: 1em;
  float: right;
}

.navbar > li:first-of-type {
  float: left;
}

.login-button {
  background-color: black;
  color: white !important;
  border-radius: 0.5em;
  padding: 0.3em 1em !important;
}

.navbar > li > a {
  text-decoration: none;
  color: black;
}

.navbar-div {
  padding: 1em;
}

.wainbow {
  width: 100vw;
}

.fixed-nav {
  position: fixed;
}