.navbar {
  list-style-type: none;
}

.navbar>li {
  padding: 1em;
  float: right;
}

.navbar>li:first-of-type {
  float: left;
}

.login-button {
  background-color: black;
  color: white !important;
  border-radius: 0.5em;
  padding: 0.3em 1em !important;
}

.navbar>li>a {
  text-decoration: none;
  color: black;
}

.navbar-div {
  padding: 1em;
}

.wainbow {
  width: 100vw;
  height: 0.4em;
  display: table;
  background: linear-gradient(270deg, #E981A0 0%, #F9A857 18.75%, #80CE1C 36.98%, #51C0C0 55.73%, #62B0FF 75%, #816DFF 100%);;
}

.fixed-nav {
  position: fixed;
  font-weight: bold;
  background-color: white;
  z-index: 1;
}

.navbar-mobile-div {
  display: none;
}

@media only screen and (min-width: 650px) {
  .mobile-links {
    display: none !important;
  }
}

@media only screen and (max-width: 650px) {
  .navbar-div {
    display: none;
  }

  .navbar-mobile-div {
    display: block;
    padding: 1em;
  }

  .navbar-mobile>button {
    padding: 1em;
    float: right;
    border: none;
    background-color: transparent;
    outline: none;
  }

  .navbar-mobile>a:first-of-type {
    float: left;
  }

  .menuicon {
    height: 1em;
  }

  .mobile-links {
    display: none;
  }

  .mobile-links>a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1em;
    text-align: center;
    background-color: #333333;
    font-size: 1.3em;
  }
}