.page1 {
	align-items: center;
	display: flex;
  height: 100vh;
  justify-content: space-around;

  .acmucsd {
    height: 550px;
  }

	.text {
		width: 40%;
  }
  
	.logo {
		height: 96px;
		margin-bottom: 12px;
  }
  
	h1 {
		font-size: 3rem;
		margin-bottom: 2.5vh;
		width: 85%;
  }
  
	p {
		font-size: 1.5rem;
		line-height: 35px;
		margin-bottom: 3vh;
		width: 75%;
	}
}
