.page1 {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .text {
    width: 40%;
  }

  .logo {
    height: 96px;
    margin-bottom: 12px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 2.5vh;
  }

  p {
    font-size: 1.5rem;
    width: 75%;
    line-height: 35px;
    margin-bottom: 3vh;
  }
}


